.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

html, body, #root, div[class*="StyledGrommet"] {
  height: 100%;
  width: 100%;
  user-select: none;
}

div[class*="StyledLayer-"] {
  min-height: 100%;
}

div[class*="StyledLayer__StyledContainer"] {
  height: 100%;
  justify-content: center;
}


a, a:hover {
  color:inherit;
  text-decoration: inherit;
}

a:focus {
  outline: none;
}

div[class*='StyledLayer__StyledContainer'] {
  background: transparent !important;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.no-scrollbar {
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.no-scrollbar::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
.no-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.2);
  border: 0px none #ffffff;
  border-radius: 30px;
}
.no-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0,0.3);
}
.no-scrollbar::-webkit-scrollbar-thumb:active {
  background: rgba(0,0,0,0.5);
}
.no-scrollbar::-webkit-scrollbar-track {
  background: rgba(0,0,0,0.2);
  border: 0px none #ffffff;
}
.no-scrollbar::-webkit-scrollbar-track:hover {
  background: rgba(0,0,0,0.2);
}
.no-scrollbar::-webkit-scrollbar-track:active {
  background: rgba(0,0,0,0.2);
}
.no-scrollbar::-webkit-scrollbar-corner {
  background: transparent;
}


