.modifyHp{
    font-size: small;
    
}

.modifyHp input{
    margin: 10px;
    width:40%;
    font-size: small;
    text-align: center;
    
    border-radius: 5px;
    
}

.modifyHp button{
    border-radius: 5px;
}

.currentHp{
    vertical-align: middle;
    
}

.maxHp{
    vertical-align: middle;
    color: red;
}

hr{
    width: 20%;
   margin: auto;
}