.MainStatBox{
    float: left;
    width: auto;
    
    
}

.MainStat{
    color: grey;
    padding: 5px;
    
    text-align: center;
    background-color:white;
    border-radius: 3px;
    font-size: 14px;
    box-shadow: 1px 1px 1px grey;
    margin-top: 10px;
    margin-left: 7px;
    float: left;
}

.MainStat:hover{
    background-color: lightgrey;
}