.StatPanel{
    padding: 10px;
    border: blue;
    width: 100%;
}

.Box{
    color: grey;
    padding: 10px;
    width: 15%;
    text-align: center;
    background-color:white;
    border-radius: 3px;
    font-size: 2vw;
    box-shadow: 1px 1px 1px grey;
    margin: 10px;
    float: left;
    
}

.ACIniBox{
    float:left;
    width: 10%;
    
}

.ACIniBox h4{
    font-size: 0.9vw;
}

.ACBox{
    color: grey;
    padding: 10px;
   
    text-align: center;
    background-color:white;
    border-radius: 3px;
    
    box-shadow: 1px 1px 1px grey;
    margin: 10px;
    
}

.IniBox{
    color: grey;
    padding: 10px;
    
    text-align: center;
    background-color:white;
    border-radius: 3px;
    
    box-shadow: 1px 1px 1px grey;
    margin: 10px;
   
}




