.hp{
    color: grey;
    padding: 10px;
    width: 15%;
    text-align: center;
    background-color:white;
    border-radius: 3px;
    font-size: large;
    box-shadow: 1px 1px 1px grey;
    margin: 10px;
    float: left;
    
}