
.Skill{
    color: grey;
    padding: 5px;
    width: 20vw;
    
    
    background-color:white;
    border-radius: 3px;
    font-size: 14px;
    box-shadow: 1px 1px 1px grey;
    margin-top: 8vw;
    margin-left: 0.6vw;
    

}