.navDM{
    background-color: #333;
    overflow: hidden;
}

.navDM div{
    float: left;
    color: white;
    padding: 10px;
}

.back:hover{

    color: black;
    background-color: white;

}

.activeItem{
    background-color: gray;
}

.turnbox{
    padding: 10px;

}

.dmBox{
    margin:auto;
    width:100%
}

.iniBox{
    width:25%;
    float: left;
    padding: 10px;
}
